In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies=movies.merge(credits,on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
##colums which are important
# genres
#id
#keywords
#title
#overview
#cast
#crew

movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

np.int64(0)

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
#
'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#we need to cinvert it into format:['Action','Adventure','Fantasy','Sci-fi']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [15]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [16]:
movies['genres']=movies['genres'].apply(convert)

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies['keywords']=movies['keywords'].apply(convert)

In [19]:
import ast

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1   
        else:
            break
    return L

In [20]:
movies['cast']=movies['cast'].apply(convert3)

In [21]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
       if i['job']=='Director': 
        L.append(i['name'])
        break
    return L

In [23]:
movies['crew']=movies['crew'].apply(fetch_director)

In [24]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [25]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [27]:
movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

0           [JamesCameron]
1          [GoreVerbinski]
2              [SamMendes]
3       [ChristopherNolan]
4          [AndrewStanton]
               ...
4804     [RobertRodriguez]
4805         [EdwardBurns]
4806          [ScottSmith]
4807          [DanielHsia]
4808     [BrianHerzlinger]
Name: crew, Length: 4806, dtype: object

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [29]:
movies['tags']=movies['overview'] + movies['genres'] +movies['keywords'] + movies['cast'] + movies['crew']

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
new_df=movies[['movie_id','title','tags']]

In [32]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
import nltk

In [34]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [35]:
def stem(text):
    y=[]

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [36]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\irish\AppData\Local\Temp\ipykernel_12628\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [37]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d Sam Worthington Zoe Saldana Sigourney Weaver James Cameron'

In [38]:
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\irish\AppData\Local\Temp\ipykernel_12628\2543325826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [39]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=5000,stop_words='english')

In [41]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [42]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [43]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zooey', 'zucker', 'zwick'],
      shape=(5000,), dtype=object)

In [44]:
ps.stem('loved')

'love'

In [45]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\irish\AppData\Local\Temp\ipykernel_12628\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [46]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [47]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zooey', 'zucker', 'zwick'],
      shape=(5000,), dtype=object)

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
similarity=cosine_similarity(vectors)

In [50]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(2405, np.float64(0.4839354795704658)),
 (1533, np.float64(0.43622020338771716)),
 (3160, np.float64(0.4278406467922595)),
 (838, np.float64(0.3962969619506085)),
 (4336, np.float64(0.3920784235278427))]

In [51]:
sorted(similarity[0],reverse=True)

[np.float64(0.9999999999999998),
 np.float64(0.4839354795704658),
 np.float64(0.43622020338771716),
 np.float64(0.4278406467922595),
 np.float64(0.3962969619506085),
 np.float64(0.3920784235278427),
 np.float64(0.3841143835488626),
 np.float64(0.3829708431025352),
 np.float64(0.3703280399090205),
 np.float64(0.3618136134933163),
 np.float64(0.35007002100700235),
 np.float64(0.34641016151377535),
 np.float64(0.3429285639896449),
 np.float64(0.34286375654996765),
 np.float64(0.33975790709773834),
 np.float64(0.33626912299068296),
 np.float64(0.3202563076101742),
 np.float64(0.32005290567945544),
 np.float64(0.31972210155418135),
 np.float64(0.31843917593777593),
 np.float64(0.3175426480542941),
 np.float64(0.3156913317611882),
 np.float64(0.3080616184861621),
 np.float64(0.3079201435678004),
 np.float64(0.3077287274483318),
 np.float64(0.3058211406170429),
 np.float64(0.3042434922296655),
 np.float64(0.3031088913245535),
 np.float64(0.29328528800913556),
 np.float64(0.2931763649279746),
 np.float64(0.29139711855430955),
 np.float64(0.2833333333333333),
 np.float64(0.28323527714997326),
 np.float64(0.28097574347450816),
 np.float64(0.28097574347450816),
 np.float64(0.2809040829627376),
 np.float64(0.27650063180466544),
 np.float64(0.2752988806446741),
 np.float64(0.2722178614686481),
 np.float64(0.27212365213498446),
 np.float64(0.2684624220856097),
 np.float64(0.26468964101491776),
 np.float64(0.2618614682831908),
 np.float64(0.2613098319673951),
 np.float64(0.260371709734462),
 np.float64(0.25980762113533157),
 np.float64(0.2587046667054218),
 np.float64(0.2585572506271132),
 np.float64(0.25743836117393526),
 np.float64(0.2570358257720839),
 np.float64(0.2550393009813292),
 np.float64(0.25002164408471217),
 np.float64(0.24886840673530203),
 np.float64(0.24886840673530203),
 np.float64(0.2474358296526967),
 np.float64(0.24731360893412466),
 np.float64(0.24731360893412463),
 np.float64(0.24683652493541972),
 np.float64(0.24377011365784196),
 np.float64(0.24019223070763068),
 np.float64(0.23851391759997748),
 np.float64(0.23791547571544325),
 np.float64(0.2358025378986253),
 np.float64(0.23190036174568107),
 np.float64(0.23145502494313783),
 np.float64(0.22819305877276824),
 np.float64(0.22721502297750176),
 np.float64(0.22636658336724408),
 np.float64(0.2257105970747514),
 np.float64(0.2254407447906538),
 np.float64(0.22360679774997888),
 np.float64(0.22205444400108035),
 np.float64(0.2179797043652264),
 np.float64(0.21469801604867725),
 np.float64(0.20889318714683738),
 np.float64(0.20889318714683738),
 np.float64(0.20784609690826525),
 np.float64(0.20739033894608502),
 np.float64(0.20604887854797269),
 np.float64(0.20402454818026822),
 np.float64(0.20272121351984576),
 np.float64(0.20211646105596454),
 np.float64(0.20207259421636903),
 np.float64(0.20207259421636903),
 np.float64(0.20083160441856085),
 np.float64(0.19999999999999996),
 np.float64(0.19882696935448685),
 np.float64(0.19882696935448685),
 np.float64(0.19794866372215736),
 np.float64(0.19738550848793063),
 np.float64(0.19595917942265423),
 np.float64(0.1955251607736846),
 np.float64(0.1951800145897066),
 np.float64(0.1951800145897066),
 np.float64(0.19518001458970657),
 np.float64(0.19461345311993639),
 np.float64(0.19379255804998172),
 np.float64(0.19215378456610455),
 np.float64(0.1915789888285599),
 np.float64(0.18856180831641264),
 np.float64(0.18856180831641262),
 np.float64(0.18727643676692465),
 np.float64(0.18683974659876548),
 np.float64(0.1866513050514765),
 np.float64(0.18527342263463414),
 np.float64(0.18304984669977625),
 np.float64(0.1825741858350553),
 np.float64(0.18187954468925666),
 np.float64(0.1811643254631353),
 np.float64(0.1811643254631353),
 np.float64(0.18039504672067896),
 np.float64(0.18039504672067896),
 np.float64(0.17822655773580132),
 np.float64(0.17741310502909746),
 np.float64(0.17566201313073593),
 np.float64(0.17457431218879388),
 np.float64(0.17432038578211329),
 np.float64(0.17407765595569782),
 np.float64(0.1732050807568877),
 np.float64(0.1732050807568877),
 np.float64(0.1732050807568877),
 np.float64(0.17320508075688767),
 np.float64(0.17284832429004493),
 np.float64(0.1723280873710658),
 np.float64(0.17186756976946388),
 np.float64(0.17126976771553504),
 np.float64(0.17126976771553504),
 np.float64(0.1710674406895399),
 np.float64(0.1708484392354498),
 np.float64(0.1708484392354498),
 np.float64(0.17056057308448833),
 np.float64(0.17025130615174972),
 np.float64(0.16973368495830107),
 np.float64(0.16854019432007686),
 np.float64(0.16823820483841195),
 np.float64(0.16666666666666666),
 np.float64(0.16536212616062237),
 np.float64(0.16536212616062235),
 np.float64(0.1649572197684645),
 np.float64(0.16495721976846445),
 np.float64(0.16413890689295377),
 np.float64(0.1632993161855452),
 np.float64(0.16329931618554516),
 np.float64(0.1623005342401378),
 np.float64(0.1621769708158766),
 np.float64(0.16169041669088863),
 np.float64(0.1616580753730952),
 np.float64(0.16131182652348858),
 np.float64(0.16035674514745463),
 np.float64(0.16035674514745463),
 np.float64(0.15894388284780522),
 np.float64(0.15861031714362883),
 np.float64(0.15851878478024337),
 np.float64(0.15842360687626786),
 np.float64(0.15713484026367722),
 np.float64(0.1571348402636772),
 np.float64(0.15701620314577236),
 np.float64(0.15666989036012804),
 np.float64(0.15666989036012804),
 np.float64(0.15614401167176528),
 np.float64(0.15569978883230456),
 np.float64(0.15491933384829665),
 np.float64(0.1539600717839002),
 np.float64(0.15322617553657475),
 np.float64(0.15322617553657472),
 np.float64(0.15320646925708528),
 np.float64(0.15291057030852145),
 np.float64(0.1527525231651946),
 np.float64(0.1527525231651946),
 np.float64(0.1518652793203998),
 np.float64(0.15163507931514908),
 np.float64(0.15158734579197342),
 np.float64(0.1515873457919734),
 np.float64(0.15118578920369086),
 np.float64(0.15118578920369086),
 np.float64(0.15074151616205694),
 np.float64(0.15032920560056579),
 np.float64(0.15),
 np.float64(0.14985372985307102),
 np.float64(0.14969103983674975),
 np.float64(0.14907119849998596),
 np.float64(0.14907119849998593),
 np.float64(0.14907119849998593),
 np.float64(0.14855627054164147),
 np.float64(0.14855627054164147),
 np.float64(0.14792005232672775),
 np.float64(0.14784425419091457),
 np.float64(0.14784425419091457),
 np.float64(0.14770978917519925),
 np.float64(0.14765433214708534),
 np.float64(0.14605934866804426),
 np.float64(0.14552137502179976),
 np.float64(0.1451732372622595),
 np.float64(0.14474937289114914),
 np.float64(0.14433756729740646),
 np.float64(0.14426714154678916),
 np.float64(0.14381849910133493),
 np.float64(0.14290535654155878),
 np.float64(0.14253932901995967),
 np.float64(0.14253932901995964),
 np.float64(0.1414213562373095),
 np.float64(0.1414213562373095),
 np.float64(0.1411300658019085),
 np.float64(0.14070529413628968),
 np.float64(0.14026687687393438),
 np.float64(0.14012980994907412),
 np.float64(0.14012980994907412),
 np.float64(0.13926212476455826),
 np.float64(0.13900960937138315),
 np.float64(0.1388730149658827),
 np.float64(0.13862065601673437),
 np.float64(0.13862065601673437),
 np.float64(0.13856406460551018),
 np.float64(0.13776934403873287),
 np.float64(0.13770607453181924),
 np.float64(0.13770607453181924),
 np.float64(0.13662601021279464),
 np.float64(0.13645764784420258),
 np.float64(0.13645764784420258),
 np.float64(0.13617658132983804),
 np.float64(0.13608276348795434),
 np.float64(0.1352962850405092),
 np.float64(0.1352962850405092),
 np.float64(0.1352962850405092),
 np.float64(0.13474430737064302),
 np.float64(0.13471506281091267),
 np.float64(0.13333333333333333),
 np.float64(0.13315005718713652),
 np.float64(0.1330598287718231),
 np.float64(0.13288211940534983),
 np.float64(0.13288211940534983),
 np.float64(0.13245323570650433),
 np.float64(0.13198240351921794),
 np.float64(0.13196577581477156),
 np.float64(0.13074409009212268),
 np.float64(0.13063945294843615),
 np.float64(0.1294300457858868),
 np.float64(0.1294300457858868),
 np.float64(0.1294300457858868),
 np.float64(0.1293523333527109),
 np.float64(0.12909944487358055),
 np.float64(0.12890067732709792),
 np.float64(0.12865350418053534),
 np.float64(0.1281025230440697),
 np.float64(0.12780193008453872),
 np.float64(0.12751534261266764),
 np.float64(0.12702146976599116),
 np.float64(0.12701705922171763),
 np.float64(0.12696221085454767),
 np.float64(0.12688825371490306),
 np.float64(0.12688825371490306),
 np.float64(0.12688825371490306),
 np.float64(0.12674485010489556),
 np.float64(0.12649110640673517),
 np.float64(0.12649110640673514),
 np.float64(0.12649110640673514),
 np.float64(0.12623374885344052),
 np.float64(0.12602520756252084),
 np.float64(0.1259881576697424),
 np.float64(0.12570787221094176),
 np.float64(0.12455983106584366),
 np.float64(0.12443420336765101),
 np.float64(0.1239559573601824),
 np.float64(0.12379689211803455),
 np.float64(0.12333396776895567),
 np.float64(0.12326312688558731),
 np.float64(0.12309149097933272),
 np.float64(0.12239801227242089),
 np.float64(0.12235505806429958),
 np.float64(0.12185435916898849),
 np.float64(0.1217161238900369),
 np.float64(0.12129568697262451),
 np.float64(0.12060453783110545),
 np.float64(0.12060453783110543),
 np.float64(0.12049281521534183),
 np.float64(0.12026336448045262),
 np.float64(0.11999999999999997),
 np.float64(0.11925695879998875),
 np.float64(0.11925695879998875),
 np.float64(0.11917591430622479),
 np.float64(0.1188177051572009),
 np.float64(0.11827540335273164),
 np.float64(0.11790126894931265),
 np.float64(0.11790126894931263),
 np.float64(0.11790126894931263),
 np.float64(0.11731769201708261),
 np.float64(0.11710800875382396),
 np.float64(0.11547005383792515),
 np.float64(0.11547005383792514),
 np.float64(0.11547005383792514),
 np.float64(0.11547005383792514),
 np.float64(0.11457837984630925),
 np.float64(0.11457837984630925),
 np.float64(0.11430952132988163),
 np.float64(0.11389895949029985),
 np.float64(0.11389895949029985),
 np.float64(0.11377602479771484),
 np.float64(0.11370704872299221),
 np.float64(0.11338934190276814),
 np.float64(0.11322770341445956),
 np.float64(0.11322770341445956),
 np.float64(0.11318329168362204),
 np.float64(0.11318329168362204),
 np.float64(0.11318329168362204),
 np.float64(0.1128552985373757),
 np.float64(0.1128552985373757),
 np.float64(0.1128552985373757),
 np.float64(0.1128552985373757),
 np.float64(0.11239029738980327),
 np.float64(0.11208970766356098),
 np.float64(0.11208970766356098),
 np.float64(0.11208970766356097),
 np.float64(0.11202240672224076),
 np.float64(0.11202240672224076),
 np.float64(0.11202240672224076),
 np.float64(0.11202240672224076),
 np.float64(0.11202240672224076),
 np.float64(0.11202240672224076),
 np.float64(0.11120768749710652),
 np.float64(0.11120768749710652),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.11102722200054019),
 np.float64(0.11102722200054019),
 np.float64(0.11094003924504581),
 np.float64(0.11058616262018192),
 np.float64(0.11041048949477665),
 np.float64(0.10999438818457404),
 np.float64(0.10963019357240504),
 np.float64(0.1095445115010332),
 np.float64(0.1095445115010332),
 np.float64(0.10910894511799615),
 np.float64(0.1089898521826132),
 np.float64(0.1089898521826132),
 np.float64(0.10894095588038442),
 np.float64(0.10886621079036349),
 np.float64(0.10886621079036347),
 np.float64(0.10886621079036347),
 np.float64(0.10886621079036346),
 np.float64(0.10886621079036346),
 np.float64(0.10886621079036346),
 np.float64(0.10820035616009187),
 np.float64(0.10820035616009187),
 np.float64(0.10820035616009185),
 np.float64(0.10820035616009185),
 np.float64(0.10811798054391775),
 np.float64(0.10811798054391773),
 np.float64(0.10801234497346432),
 np.float64(0.10721125348377947),
 np.float64(0.10721125348377947),
 np.float64(0.10721125348377945),
 np.float64(0.10706067580626215),
 np.float64(0.10690449676496976),
 np.float64(0.10690449676496974),
 np.float64(0.10690449676496974),
 np.float64(0.10690449676496974),
 np.float64(0.10613372610104645),
 np.float64(0.10613372610104645),
 np.float64(0.10613372610104645),
 np.float64(0.10613372610104645),
 np.float64(0.10613372610104645),
 np.float64(0.10613372610104645),
 np.float64(0.10596258856520348),
 np.float64(0.10596258856520348),
 np.float64(0.10565410875907486),
 np.float64(0.10565410875907486),
 np.float64(0.10565410875907486),
 np.float64(0.10551786871689885),
 np.float64(0.10540925533894595),
 np.float64(0.10540925533894595),
 np.float64(0.10540925533894595),
 np.float64(0.10527227119356301),
 np.float64(0.10523044392039604),
 np.float64(0.1044465935734187),
 np.float64(0.10444659357341869),
 np.float64(0.10444659357341869),
 np.float64(0.10434983894999016),
 np.float64(0.10434983894999016),
 np.float64(0.10393116839386093),
 np.float64(0.10393116839386093),
 np.float64(0.10369516947304251),
 np.float64(0.10369516947304251),
 np.float64(0.10349097793364019),
 np.float64(0.10327955589886444),
 np.float64(0.10327955589886444),
 np.float64(0.10265298051494728),
 np.float64(0.10264004785593345),
 np.float64(0.10215078369104982),
 np.float64(0.10206207261596573),
 np.float64(0.10183501544346307),
 np.float64(0.10105823052798227),
 np.float64(0.10105823052798227),
 np.float64(0.10105823052798227),
 np.float64(0.10105823052798227),
 np.float64(0.10105823052798225),
 np.float64(0.10103629710818449),
 np.float64(0.10093898773656795),
 np.float64(0.10079052613579391),
 np.float64(0.10079052613579391),
 np.float64(0.10050378152592121),
 np.float64(0.1005037815259212),
 np.float64(0.1005037815259212),
 np.float64(0.1005037815259212),
 np.float64(0.1002560823655206),
 np.float64(0.1002560823655206),
 np.float64(0.1002560823655206),
 np.float64(0.10012523486435176),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.09999999999999999),
 np.float64(0.09961164901835043),
 np.float64(0.09949366763261819),
 np.float64(0.09949366763261819),
 np.float64(0.09949366763261819),
 np.float64(0.09903751369442765),
 np.float64(0.09901475429766741),
 np.float64(0.09901475429766741),
 np.float64(0.09901475429766741),
 np.float64(0.09901475429766741),
 np.float64(0.09901475429766741),
 np.float64(0.09901475429766741),
 np.float64(0.09897433186107868),
 np.float64(0.09897433186107868),
 np.float64(0.09897433186107867),
 np.float64(0.09897433186107867),
 np.float64(0.09874838622020375),
 np.float64(0.09874838622020374),
 np.float64(0.09847319278346617),
 np.float64(0.09847319278346617),
 np.float64(0.09847319278346617),
 np.float64(0.09801960588196067),
 np.float64(0.09801960588196065),
 np.float64(0.09797958971132711),
 np.float64(0.0975900072948533),
 np.float64(0.0975900072948533),
 np.float64(0.0975900072948533),
 np.float64(0.0975900072948533),
 np.float64(0.09701425001453318),
 np.float64(0.09701425001453318),
 np.float64(0.09701425001453318),
 np.float64(0.09630868246861535),
 np.float64(0.09630868246861535),
 np.float64(0.09629138409712987),
 np.float64(0.0962250448649376),
 np.float64(0.0962250448649376),
 np.float64(0.0962250448649376),
 np.float64(0.0962250448649376),
 np.float64(0.09607689228305227),
 np.float64(0.09607689228305227),
 np.float64(0.09607689228305226),
 np.float64(0.0959264193758544),
 np.float64(0.09578949441427993),
 np.float64(0.09578949441427993),
 np.float64(0.09525793444156802),
 np.float64(0.0951661902861773),
 np.float64(0.09516619028617729),
 np.float64(0.09491579957524988),
 np.float64(0.09491579957524988),
 np.float64(0.09428090415820634),
 np.float64(0.09428090415820632),
 np.float64(0.09428090415820632),
 np.float64(0.09428090415820632),
 np.float64(0.09341987329938274),
 np.float64(0.09341987329938274),
 np.float64(0.09341987329938274),
 np.float64(0.09341987329938274),
 np.float64(0.09333333333333331),
 np.float64(0.0933333333333333),
 np.float64(0.09331389496316868),
 np.float64(0.09271726499455304),
 np.float64(0.09271726499455303),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09237604307034011),
 np.float64(0.09237604307034011),
 np.float64(0.0917662935482247),
 np.float64(0.09152086306448586),
 np.float64(0.09128709291752767),
 np.float64(0.09128709291752767),
 np.float64(0.09128709291752767),
 np.float64(0.09128709291752767),
 np.float64(0.09128709291752767),
 np.float64(0.09128709291752767),
 np.float64(0.09097176522946838),
 np.float64(0.09097176522946838),
 np.float64(0.09097176522946838),
 np.float64(0.09058216273156765),
 np.float64(0.09058216273156765),
 np.float64(0.09019752336033947),
 np.float64(0.09019752336033947),
 np.float64(0.09019752336033945),
 np.float64(0.09016696346674322),
 np.float64(0.09016696346674322),
 np.float64(0.09016696346674322),
 np.float64(0.08944271909999157),
 np.float64(0.08944271909999156),
 np.float64(0.08944271909999156),
 np.float64(0.08926073982886733),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.08908708063747478),
 np.float64(0.08908708063747478),
 np.float64(0.08908708063747478),
 np.float64(0.08888888888888888),
 np.float64(0.08870655251454873),
 np.float64(0.08870655251454873),
 np.float64(0.08870655251454873),
 np.float64(0.08807710121010884),
 np.float64(0.08804509063256238),
 np.float64(0.08804509063256238),
 np.float64(0.08804509063256237),
 np.float64(0.08804509063256237),
 np.float64(0.08804509063256237),
 np.float64(0.08728715609439693),
 np.float64(0.08728715609439693),
 np.float64(0.08728715609439693),
 np.float64(0.08728715609439693),
 np.float64(0.08728715609439693),
 np.float64(0.08728715609439693),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784891),
 np.float64(0.08703882797784891),
 np.float64(0.08703882797784891),
 np.float64(0.08703882797784891),
 np.float64(0.08665782448262419),
 np.float64(0.08665782448262419),
 np.float64(0.08660254037844387),
 np.float64(0.08660254037844387),
 np.float64(0.08660254037844387),
 np.float64(0.08660254037844385),
 np.float64(0.08660254037844385),
 np.float64(0.08660254037844385),
 np.float64(0.08660254037844385),
 np.float64(0.08660254037844385),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08593378488473194),
 np.float64(0.08593378488473194),
 np.float64(0.08593378488473194),
 np.float64(0.08593378488473194),
 np.float64(0.08576900278702357),
 np.float64(0.08576900278702357),
 np.float64(0.08576900278702357),
 np.float64(0.08576900278702357),
 np.float64(0.08567860859069464),
 np.float64(0.08512565307587486),
 np.float64(0.08512565307587486),
 np.float64(0.08512565307587486),
 np.float64(0.08512565307587486),
 np.float64(0.08512565307587484),
 np.float64(0.08512565307587484),
 np.float64(0.08512565307587484),
 np.float64(0.08464147390303178),
 np.float64(0.08432740427115676),
 np.float64(0.08432740427115676),
 np.float64(0.08432740427115676),
 np.float64(0.08432740427115676),
 np.float64(0.08432740427115676),
 np.float64(0.08421519210665189),
 np.float64(0.08421519210665189),
 np.float64(0.08421519210665189),
 np.float64(0.08421519210665189),
 np.float64(0.08421519210665189),
 np.float64(0.08401680504168058),
 np.float64(0.08401680504168056),
 np.float64(0.08397822097303646),
 np.float64(0.08340576562282989),
 np.float64(0.08340576562282989),
 np.float64(0.08340576562282989),
 np.float64(0.08336878678455789),
 np.float64(0.08333333333333334),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08295613557843401),

In [52]:
def recommend(movie):
    movie_index= new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list= sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [53]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman
Batman & Robin

In [54]:
new_df.iloc[539].title

'Titan A.E.'

In [55]:
import pickle

In [56]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [57]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [58]:
import os
print(os.path.getsize('similarity.pkl'))

184781252

In [60]:
if not os.path.exists("similarity.pkl"):
    similarity = compute_similarity()
    pickle.dump(similarity, open("similarity.pkl", "wb"))

In [61]:
import pickle

pickle.dump(similarity, open("similarity.pkl", "wb"))